// Assets
@font-face {
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 300;
}

@import "fontello/css/fontello.css";
@import "mixins";

$break-small: 768px;
$break-medium: 1024px;
$break-large: 1280px;

// Primary colours
$colour-primary: #A31E39;
$colour-secondary: #5F9EA0;
$colour-tertiary: #CCB022;
$colour-quaternary: #8C9C9A;
$colour-quinary: #fff;
$colour-senary: #D6A9D0;
$colour-septanary: #efefef;
$colour-senary: #efefef;
$colour-octanary: #efefef;
$colour-nonary: #efefef;
$colour-denary: #efefef;

$grid-gutter: 0;
// Functional colours
$colour-alert: red;

// Responsive font-size:
$tablet:768px;

// Third party libraries
// @import "libraries/patterns/patterns";

// Project components
// @import "components/body";

// libraries
@import "libraries/animate";
@import "libraries/mixins";
@import "libraries/reset";
@import "libraries/patterns/patterns";
@import "libraries/patterns/libraries/photoswipe/_main-settings";
@import "libraries/patterns/libraries/photoswipe/main";
@import "libraries/patterns/libraries/photoswipe/default-skin/default-skin";

// components
@import "components/anchor";
@import "components/article-listing";
@import "components/body";
@import "components/button";
@import "components/container";
@import "components/footer-links";
@import "components/form";
@import "components/global-nav";
@import "components/header";
@import "components/_hamburger";
@import "components/html";
@import "components/icon";
@import "components/image";
@import "components/lid-opener";
@import "components/link-list";
@import "components/list";
@import "components/logo";
@import "components/logo-cloud";
@import "components/main";
@import "components/modal";
@import "components/paragraph";
@import "components/people-cloud";
@import "components/rich";
@import "components/section";
@import "components/subnav";
@import "components/showcase";
@import "components/stacks";
@import "components/tabs";
@import "_custom";
