<!DOCTYPE html>
<html lang="{{ page.lang }}">
  <head>
    <meta charset="UTF-8"/>
    <meta name="Description" CONTENT="{{ page.description }}">
  	<title>{{ page.title }} — {{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" media="screen" type="text/css" href="/style/base.css"/>
  </head>
  <body class="{{ page.class }} layout-{{ page.layout }}">
  <section id="">
    {% include navigation.html %}
    {{ content }}
    <div id="footer">
      <a href="http://www.facebook.com/pages/Bildergut-Image-Processing/256662631032338" target="_blank"><img src="http://www.bildergut.com/_design/images/facebook_button_white.jpg" width="30" height="30" alt="facebook"></a>
    </div>
  </section>
    <script src="/bundles/bundle.js" type="text/javascript"></script>
  </body>
</html>
